# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.db
*.sqlite3
.pytest_cache/

# Dart & Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs
.vscode/
.idea/
*.swp

# OS
Thumbs.db
[Dd]esktop.ini
